.example-panel-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-weight: bold;
  font-size: 100px;
  font-family: 'GT Walsheim Bold';
}

.markdown-body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  overflow: hidden;
  overflow-y: scroll;
}


.panel-content-container {
  overflow: hidden;
}

div[data-panel-name="R"] .panel-content-container {
  width: 100%;
}


div[data-panel-name="LTL"] .name-content {
  animation: nameAnmi2 5s cubic-bezier(0.645, 0.045, 0.355, 1.000) 0s 1;
}

div[data-panel-name="LTR"] .name-content {
  animation: nameAnmi1 5s cubic-bezier(0.645, 0.045, 0.355, 1.000) 0s 1;
}

div[data-panel-name="LB"] .name-content span {
  transform-origin: left bottom;
  animation: nameAnmi3 1s ease 5s 1;
}

@keyframes nameAnmi1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes nameAnmi2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes nameAnmi3 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}