:root {
  --panel-manager-border-color: #e4e4e4;  
  --panel-manager-border--active-color: #1890ff;  
}

div.resizable-default-border[data-panel-resizable='true'][data-panel-type='L'] {
  border-right: 1px solid var(--panel-manager-border-color);
}

div.resizable-default-border[data-panel-resizable='true'][data-panel-type='T'] {
  border-bottom: 1px solid var(--panel-manager-border-color);
}

div.resizable-default-border[data-panel-resizable='true'][data-panel-type='B'] {
  border-top: 1px solid var(--panel-manager-border-color);
}

div.resizable-default-border[data-panel-resizable='true'][data-panel-type='R'] {
  border-left: 1px solid var(--panel-manager-border-color);
}

div[data-panel-resizable='false'] {
  flex: 1;
}

div.panel-content-container {
  display: block !important;
  flex: 1;
}

div[data-panel-type] {
  position: relative;
  display: flex;
}

.panel-manager-handler {
  position: absolute;
  z-index: 111;
}

.panel-manager-T-handler {
  bottom: -1px !important;
}

.panel-manager-T-handler:active,
.panel-manager-T-handler:hover {
  border-bottom: 2px solid var(--panel-manager-border--active-color);
}

.panel-manager-B-handler {
  top: -1px !important;
}

.panel-manager-B-handler:active {
  border-top: 2px solid var(--panel-manager-border--active-color);
}

.panel-manager-B-handler:hover {
  border-top: 2px solid var(--panel-manager-border--active-color);
}

.panel-manager-L-handler {
  right: -1px !important;
}

.panel-manager-L-handler:active,
.panel-manager-L-handler:hover {
  border-right: 2px solid var(--panel-manager-border--active-color);
}

.panel-manager-R-handler {
  left: -1px !important;
}

.panel-manager-R-handler:active {
  border-left: 2px solid var(--panel-manager-border--active-color);
}

.panel-manager-R-handler:hover {
  border-left: 2px solid var(--panel-manager-border--active-color);
}
